<h1>&nbsp;</h1>

<%- form_for @milestone do |form| -%>
  <%= error_messages_for :milestone %>
  <%= form.text_field :text %>
  <%= form.text_field :date %>
  <%= submit_tag %>
<%- end -%>

<ol id="timeline">
  <%- @milestones.each do |milestone| -%>
    <li>
      <%=h milestone.text %>
      <span class="date"><%= display_date milestone.date %></span>
    </li>
  <%- end -%>
</ol>

