<h1>&nbsp;</h1>

<%- form_remote_for(@milestone, :url => milestones_path(:method => :post)) do |form| -%>
  <%= error_messages_for :milestone %>
  <fieldset id="milestone_date">
    <%= form.text_field :day %>.<%= form.text_field :month %>.<%= form.text_field :year %>
  </fieldset>
  <%= form.text_field :text %>
  <%= submit_tag 'Add' %>
<%- end -%>

<ol id="timeline">
  <%- @milestones.each do |milestone| -%>
    <%= render :partial => 'milestone', :object => milestone %>
  <%- end -%>
</ol>

